%h1 Search
= form_with(local: true, method: :get) do |f|
  .field
    = f.label :country
    = f.select :country,  options_for_select(Tariff.unique_countries, params[:country]), {:include_blank => "Please select Country"}

  .field
    = f.label :zip
    = f.select :zip, options_for_select(Tariff.unique_zip, params[:zip]), {:include_blank => "Please select postal code"}

  .field
    = f.label :weight
    = f.text_field :weight, :value => params[:weight]

  .actions= f.submit
