<p id="notice"><%= notice %></p>

<h1>Tariffs</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Zip</th>
      <th>Weight</th>
      <th>Price</th>
      <th>Carrier</th>
      <th>Expire</th>
      <th>Transit time</th>
      <th>Loading region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tariffs.each do |tariff| %>
      <tr>
        <td><%= tariff.country %></td>
        <td><%= tariff.zip %></td>
        <td><%= tariff.weight %></td>
        <td><%= tariff.price %></td>
        <td><%= tariff.carrier %></td>
        <td><%= tariff.expire %></td>
        <td><%= tariff.transit_time %></td>
        <td><%= tariff.loading_region %></td>
        <td><%= link_to 'Show', tariff %></td>
        <td><%= link_to 'Edit', edit_tariff_path(tariff) %></td>
        <td><%= link_to 'Destroy', tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tariff', new_tariff_path %>
<div class="import_csv">
<h2>Import tariffs</h2>
<p>
<%= form_tag import_tariffs_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload tariffs" %>
	<% end %>
</p>
</div>


